<h3>Cadastro de pessoas</h3>

<form ngForm name="cadastro">
  <label>Nome:</label>
  <input type="text" name="pessoa"
  [(ngModel)]="pessoa">
  <button (click)="adicionar()">OK</button>
</form>

<h3>Pessoas cadastradas</h3>

<label>Total de pessoas cadastradas: {{total}}</label>

<table style="width:40%">
  <tr>
    <th>Nome</th>
    <th style="width:20%">Excluir</th>
  </tr>
  <tr *ngFor="let lista_pessoa of lista_pessoas">
    <td >{{lista_pessoa}}</td>
    <td><button (click)="excluir()">X</button></td>
  </tr>
</table>


